<footer class="footer">
    <div class="copyright">
        &copy;
        {{ with .Site.Params.since }}
        <span itemprop="copyrightYear">{{.}} - {{ now.Year }}</span>
        {{ end }}
         {{ if .Site.Params.author }}
            <span class="author" itemprop="copyrightHolder"><a href="{{ .Site.BaseURL }}">{{ .Site.Params.author  }}</a> | </span>
         {{ end }}

		  <span>Crafted with ❤️ by <a href="https://github.com/manassolanki" target="_blank" rel="external nofollow noopener noreffer">Manas Solanki</a> </span>
    </div>
</footer>

{{ partial "js.html" . }}
