<div class="intro">
    {{ $cdn_url := .Scratch.Get "cdn_url" }}
    
    <div class="avatar">
      <a href="/posts/"> <img src="https://avatars2.githubusercontent.com/u/20757311?s=400&v=4" alt="gravatar"> </a>
    </div>
    {{ with .Site.Params.subtitle}}
    <h2 class="description">
       {{ . }}
    </h2>
    {{ end }}
    <div class="social-links">
      {{ partial "social.html" . }}
    </div>
</div>

